$-font-size: 14px;

$-base-width: 180px;
$-menu-height: 36px;

$-color-main: #5587F0;
$-color-success: #67C23A;
$-color-white: #ffffff;
$-color-main-grey: #fafafa;
$-color-grey-font: #888888;
$-color-hover: #409EFF;

