$-font-size: 14px;

$-base-width: 400px;
$-menu-height: 36px;

$-color-black: #000000;
$-color-main: #5587F0;
$-color-success: #67C23A;
$-color-white: #ffffff;
$-color-main-grey: #fafafa;
$-color-sub-grey: #ececec;
$-color-grey-1: #e4e7ed;
$-color-grey-font: #888888;
$-color-font: #555555;
$-color-font-2: #333333;
$-color-hover: #409EFF;